@using Microsoft.AspNetCore.Identity
@using ExpressVoitures.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="" asp-controller="Home" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-logout">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-login" asp-area="" asp-controller="Home" asp-action="Login">Login</a>
        </li>
    }
</ul>
