@model IEnumerable<ExpressVoitures.Models.Car>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="d-flex flex-column align-items-center justify-content-center vh-100 bg-cover;">
        <div class="content text-center">
            <img src="~/images/Logo1.png" alt="Logo" class="img-fluid" style="max-width: 80%;">
        </div>
        <div class="col-12 mt-4">
            <a href="~/Cars/Catalogue" class="btn btn-primary btn-lg">Voir les voitures</a>
        </div>
    </div>
</div>



