/* Styles globaux */
body {
    font-family: 'Kosugi Maru', sans-serif;
    background: #f1f1f1;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

/* Boutons personnalisés */
.btn-custom {
    background-color: #9282F5;
    color: white;
    border: none;
}

    .btn-custom:hover {
        background-color: #7a6fde;
    }

/* Fieldset et Legend */
fieldset {
    background-color: #f8f9fa;
    border: 1px solid #9282F5;
}

legend {
    width: auto;
    padding: 0 10px;
    font-size: 1.2rem;
}

/* Vue pleine hauteur */
.vh-100 {
    height: 100vh;
}

/* Image de couverture */
.bg-cover {
    background-image: url('~/images/FireflyLogoVoiture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/* Contenu centré */
.content {
    margin-bottom: 10%;    
}

/* Bouton principal */
.btn-primary {
    background-color: #9282F5;
    border: none;
}

    .btn-primary:hover {
        background-color: #7a6fde;
    }

/* Styles pour les cartes du catalogue */
.card-custom {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
    background-color: #d3d3d3;
}

    .card-custom:hover {
        transform: translateY(-10px);
    }

.image-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 15px;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: white;
    border-radius: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-text {
    text-align: center;
}

.icon-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .icon-circle i {
        font-size: 24px;
        color: #333;
    }

.text {
    font-size: 14px;
    color: #333;
}

.bg-none {
    background: none;
}

.no-padding {
    padding: 0;
}

.badge-sold, .badge-unavailable {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.badge-sold {
    background-color: #9282F5;
    color: white;
}

.badge-unavailable {
    background-color: #C2B9F5;
    color: white;
}

h1 {
    margin-bottom: 20px;
}

/* Navbar Styles */
.navbar-brand {
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link.active {
    color: #9282F5 !important;
}

.nav-link.active, .nav-link:hover {
    color: #9282F5 !important;
}

.navbar-collapse {
    justify-content: center;
}

/* Boutons de connexion et déconnexion */
.btn-login {
    background-color: transparent;
    color: #9282F5;
    border: 2px solid #9282F5;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

    .btn-login:hover {
        background-color: #9282F5;
        color: white;
    }

.btn-logout {
    background-color: #9282F5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

    .btn-logout:hover {
        background-color: #7a6fde;
    }

/* Card Styles */
.card-sl {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
}

.card-action {
    position: relative;
    float: right;
    margin-top: -25px;
    margin-right: 20px;
    z-index: 2;
    color: #E26D5C;
    background: #fff;
    border-radius: 100%;
    padding: 15px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

.card-heading {
    font-size: 18px;
    font-weight: bold;
    background: #fff;
    padding: 10px 15px;
}

.card-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: #636262;
}

.card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #1F487E;
    color: #fff;
    border-radius: 0 0 8px 8px;
}

    .card-button:hover {
        text-decoration: none;
        background-color: #1D3461;
        color: #fff;
    }

@-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }

    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}
